USE [master]
GO
/****** Object:  Database [salon]    Script Date: 1/9/2018 10:05:22 PM ******/
CREATE DATABASE [salon]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'salon', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.INSTANCA\MSSQL\DATA\salon.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'salon_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.INSTANCA\MSSQL\DATA\salon_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [salon].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [salon]
GO
/****** Object:  Table [dbo].[Akcija]    Script Date: 1/9/2018 10:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Akcija](
	[id] [int] NOT NULL,
	[datumPocetka] [datetime] NULL,
	[popust] [real] NULL,
	[datumZavrsetka] [datetime] NULL,
	[obrisana] [bit] NULL,
 CONSTRAINT [PK_Akcija] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Namestaj]    Script Date: 1/9/2018 10:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Namestaj](
	[id] [int] NOT NULL,
	[naziv] [nvarchar](50) NULL,
	[sifra] [nvarchar](50) NULL,
	[cena] [real] NULL,
	[kolicinaUMagacinu] [int] NULL,
	[akcijaId] [int] NOT NULL,
	[tipNamestajaID] [int] NOT NULL,
	[obrisan] [bit] NULL,
 CONSTRAINT [PK_Namestaj] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Prodaja]    Script Date: 1/9/2018 10:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prodaja](
	[id] [int] NOT NULL,
	[idNamestaj] [int] NOT NULL,
	[datumProdaje] [datetime] NULL,
	[brojRacuna] [nvarchar](50) NULL,
	[kupac] [nvarchar](50) NULL,
	[ukupnaCena] [real] NULL,
	[obrisana] [bit] NULL,
 CONSTRAINT [PK_Prodaja] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Namestaj]  WITH CHECK ADD  CONSTRAINT [FK_Namestaj_Akcija] FOREIGN KEY([akcijaId])
REFERENCES [dbo].[Akcija] ([id])
GO
ALTER TABLE [dbo].[Namestaj] CHECK CONSTRAINT [FK_Namestaj_Akcija]
GO
ALTER TABLE [dbo].[Prodaja]  WITH CHECK ADD  CONSTRAINT [FK_Prodaja_Namestaj] FOREIGN KEY([idNamestaj])
REFERENCES [dbo].[Namestaj] ([id])
GO
ALTER TABLE [dbo].[Prodaja] CHECK CONSTRAINT [FK_Prodaja_Namestaj]
GO
USE [master]
GO
